body {
    border-radius: 5px;

    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

    /* margin-bottom: 400px; */
}
#bodybg {
    background-color: rgb(243, 189, 230);
}

h1 {
    color: black;
}

.sides {
    display: inline-block;
    width: 12%;
    background-color: red;
}

#images {
    margin: 0 auto;
    margin-top: auto;
    position: absolute;

}
img {
    /* height: 200px;
    width: 150px; */
}
#center {
    /* display: inline-block;
    justify-content: center;
    align-items: center;
    height: 50%; */
    
    z-index: 10;
    background-color: rgb(255, 255, 255);

    /* border: 2px solid black; */
    border-radius: 15px;

    width: 95%; /**/
    height: 250px;
    margin: 0 auto ;
    margin-top: auto;
    /* transform: translateY(-100px); */
}

button {
    border-radius: 10px;
    padding: 12px 24px;
    size: 12.5px;
    color: black;
    background-color: #ffffff;
    font-size: large;

    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-left: 14%;
    margin-right: 10%;
    margin-bottom: 15px;


}
#yes {
    color: white;
    background-color: rgb(221, 8, 8);
}

#no {
    background-color: white;
    position: absolute;
    size: 12.5;
    
    transition: top 0.2s ease, left 0.2s ease;
}

h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}